<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <!-- internal css -->
     <style>
        *{
            border: 1px solid red;
            margin: 15px;
            padding: 15px;
        }
     </style>
</head>
<body>
    <nav>
        <a href="../index.html">Home</a>
        <a href="./about.html">About</a>
        <a target="_blank" href="https://github.com/chilemati?tab=repositories">View my Git Ropos</a>
    </nav>
    <h1>About Me</h1>
    <p>Lorem <b>ipsum</b> dolor, sit amet consectetur adipisicing elit. <br> Atque et dolorem, suscipit rem eveniet doloribus aliquid, dicta accusantium veniam cupiditate obcaecati similique. Aut, voluptate excepturi nostrum similique delectus expedita recusandae porro consequatur sapiente temporibus eos debitis ipsum exercitationem minus tempore nesciunt facere eius iste nemo. Voluptatem veritatis unde aliquam. Iste, aperiam consectetur ducimus voluptas voluptates sequi porro, reprehenderit, non temporibus tenetur est voluptatibus nam doloremque natus quos qui nesciunt eum cumque. Cupiditate rerum asperiores natus odit quasi dignissimos, fugiat ipsam, nam alias dolor eligendi! Dolor, adipisci? Ut magni, qui deleniti adipisci numquam aperiam dicta, omnis facilis laborum consequuntur quaerat temporibus.</p>

    <h2><span>Nig</span>e<span>ria</span></h2>

    <div>
        <h2>How to Download VScode</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sequi ipsam beatae? Necessitatibus, nemo animi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sequi ipsam beatae? Necessitatibus, nemo animi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sequi ipsam beatae? Necessitatibus, nemo animi.</p>
    </div>
    <section>
        <h2>How to Download Git</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sequi ipsam beatae? Necessitatibus, nemo animi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sequi ipsam beatae? Necessitatibus, nemo animi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sequi ipsam beatae? Necessitatibus, nemo animi.</p>
    </section>
    <!-- nav boxes to html -->
     <nav>
        <div class="boxa">
            <img src="../images/logo.svg" alt="logo">
        </div>
        <div class="boxb">
            <a href="">About me</a>
            <a href="">Skills</a>
            <a href="">Portfolio</a>
            <a href="" class="contact">CONTACT ME</a>
        </div>
     </nav>
     <!-- hero boxes to html -->
      <div class="hero">
        <div class="boxa">
            <h6>Hi, I am</h6>
            <h2>Tomasz Gajda</h2>
            <p>Front-end Developer / UI Designer</p>
            <div class="btns">
                <img src="../images/at.svg" alt="at icon">
                <img src="../images/git.svg" alt="github icon">
                <img src="../images/linkedin.svg" alt="linkedin icon">
            </div>
        </div>
        <div class="boxb">
            <img src="../images/user.png" alt="user image">
            <p>this is not my photo, but I dearly hope to get one just like this </p>
        </div>
      </div>
    
</body>
</html>